.modal-full-width,.w-100{
  width: 100%;
}
/* Touches Made By Backend */
#toast-container,.toast{
  width: 100% !important;
  top: 0 !important;
  right: 0 !important;
}
.d-hidden{
	display: none !important;
}
.paySteps,
.setSteps{
	display: none;
}
.paySteps.active,
.setSteps.active{
	display: block;
}
.select2-container{
	width: 100% !important;
	height: 60px !important;
}

.select2-container .select2-selection--single
{
	width:100% !important;
	height:60px !important;
	border:none !important;
	background-color:#F6F6F6 !important;
	padding:0 20px !important;
	font-weight:500 !important;
	margin-bottom:25px;
	border-radius: 5px !important;
	color:#000 !important
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	padding-top: 15px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 15px !important;
}
.mt-3{
	margin-top: 30px;
}
.linkStyle{
	width: 30%;
	float: left;
	margin-right: 1.5%;
	margin-left: 1.5%;
}
html[dir="rtl"] .linkStyle{
	float: right;
}
.sync.btnAdd{
	visibility: hidden;
}
#SubmitBTN.btnAdd{
	border: 0;
    float: right;
    margin: 0 40px;
}
html[dir="rtl"] #SubmitBTN.btnAdd{
	float: left;
}
.clearfix{
	clear: both;
}
.mg-b-10{
	margin-bottom: 10px;
}
.tx-12{
	font-size: 12px;
}
.mb-3{
	margin-bottom: 30px;
}
.mb-2{
	margin-bottom: 20px;
}
.mb-1{
	margin-bottom: 10px;
}

.form:not(.main) input[type="checkbox"]{
	width: 20px;
	height: 20px;
	left: 20px;
	cursor: pointer;
}
html[dir="rtl"] .form:not(.main) input[type="checkbox"]{
	left: unset;
	right: 33%;
}
#colData div li{
	padding: 20px;
}
.mb-0{
	margin-bottom: 0 !important;
}
.form p.data{
	padding-top: 15px;
	padding-left: 0;
	width: auto;
	display: contents;
}
html[dir="rtl"] .form p.data{
	padding-right: 0;
}
.checkbox-single{
	width: 50px;
	display: inline-block;
}

.dataTables_length label{
	margin: 10px !important;
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.div.dataTables_wrapper div.dataTables_length select{
	width: 73px !important;
    height: 40px !important;
    border: 1px solid #E8EAF9 !important;
    padding: 0 10px !important;
    text-align: center !important;
}
.listPDF .dt-buttons .btn-secondary,
.listPDF .dt-buttons .btn-group .btn-secondary{
	background-color: #F4F5FD;
	padding: 0 15px;
    font-size: 16px;
    color: #000000;
    height: 40px;
    line-height: 40px;
}
.dt-button-collection .dropdown-menu{
	border: 1px solid #c5c5c5;
	width: 150px;
	padding: 0;
}
.dt-button-collection{
	right: 0;	
}

.dt-button-collection .dropdown-menu a{
	margin: 0;
    cursor: pointer;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    width: 100%;
    display: block;
    padding: 15px 12px;
    color: #000;
}
.dt-button-collection .dropdown-menu a:hover,
.dt-button-collection .dropdown-menu a.active{
	background-color: #00BFB5;
    border-color: #00BFB5;
    color: #FFF;
}
.dataTables_filter label{
	font-size: 16px;
    font-weight: 500 !important;
    padding-top: 10px;
}
.dataTables_filter label input{
	margin-top: -10px;
}
td a{
	color: inherit;
}
.nextPrev a.btnNext{
	margin-top: 2px;
}
.dz-success-mark{
	display: inline-block;
    width: auto;
    margin: auto;
}
html[dir="rtl"] .dz-success-mark{
	float: left;
}
html[dir="ltr"] .dz-success-mark{
	float: right;
}
.dz-remove{
	display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}


.table .option-dots{
  color: #1bc5bd;
  background: #c9f7f5;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 31px;
  transition: all ease-in-out .25s;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
}
.table .option-dots:hover{
  background: #1bc5bd;
  color: #c9f7f5;
}
.table .option-dots i{
  font-size: 20px;
  padding-top: 3px;
}
.table .dropdown-menu.show a i{
  margin-left: 5px;
}
html[dir="ltr"] .table .dropdown-menu.show a i{
  margin-right: 5px;
}
table td a.action-icon.btn-block{
  margin: 0;
  text-align: left;
  color: #464E5F;
  min-height: 50px;
  padding-top: 15px;
  border: 0;
  border-radius: 0;
  display: block;
}
table td a.action-icon.btn-block:not(:last-child){
  padding-top: 10px;
}
table td a.action-icon.btn-block:hover,
table td a.action-icon.btn-block:active,
table td a.action-icon.btn-block.active,
table td a.action-icon.btn-block:focus{
  color: #FFF;
}
html[dir="rtl"] table td a.action-icon.btn-block{
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] .float-right{
  float: left !important;
}
html[dir="rtl"] .float-left{
  float: right !important;
}
html[dir="rtl"] .text-right{
  text-align: left !important;
}
html[dir="rtl"] .text-left{
  text-align: right !important;
}
table{
	width: 100% !important;
	height: 100% !important;
	overflow: auto !important;
}
.dropdown-menu{
	padding-top: 0;
	padding-bottom: 0;
}
#colData li,
.tasklist li{
  border: 1px solid #eee !important;
  border-radius: 5px;
  background: #FFF;
  padding: 15px;
}
#colData li,
.tasklist li{
  display: block !important;
}

.tasklist li{
  padding-bottom: 0;
}
.tasklist ul.dropdown-menu.inner li{
  padding: unset;
  border: unset;
  margin-bottom: unset;
  box-shadow: unset;
  border-bottom: 1px solid #dee2e6;
}
.card.permission{
  border: 1px solid #eee !important;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 15px;
}
.permission .card-header{
  border-bottom: 1px solid #eee;
}
.permission .card-header p{
  margin-bottom: 0;
}
.permission .card-body{
	padding-top: 25px;
}
.permission .card-header label, label.prem{
	margin-bottom: 0;
}
.prem span{
	font-size: 15px;
}
.LastUpdate{
	margin-top: -15px;
    margin-bottom: 25px !important;
}
.col-md-3 .titleLabel{
	margin-bottom: 0;
}
.dropzone-panel a{
  color: #FFF;
}
.dropzone-multi{
  min-height: auto;
}
.dropzone-item{
  border: 1px solid #DDD;
  border-radius: 5px;
  margin-top: 10px;
}
.dropzone.dropzone-default .dropzone-msg-title i{
  color: #000;
}
.dropzone.dropzone-default .dropzone-msg-desc{
  color: #575962;
}
.dataTable .my-gallery img {
width: 50px;
height: 50px;
border-radius: 4px;
}
.dropzone{
  border: 1px dashed #ddd;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: auto;
}
.dropzone .dz-message.needsclick{
  text-align: center;
}
.dropzone .dz-preview .dz-image img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-details {
    padding: 1em 1em;
}
.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 155px;
    right: 0;
    opacity: 1;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0,0,0,0.9);
    line-height: 150%;
}
form .form .formPayment{
	border-top: 0;
}
.listNumbs .adding-card{
	height: 45px;
    margin-bottom: 0;
    margin-top: -45px;
    background: transparent;
    z-index: 1;
    cursor: pointer;
}
.listNumbs .adding-card .card-body{
	padding: 0;
	border-radius: 0;
	height: 45px;
	background-color: transparent;
}

.listNumbs .adding-card .card-body .tooltip{
	left: calc(50% - 50px);
	bottom: calc(100% + 20px);
}
.listNumbs .adding-card .card-body .tooltip:after{
	right: unset;
	left: 30px;
}
th.edits.dates{
	width: 200px !important;
}
.bootstrap-datetimepicker-widget table td{
	cursor: pointer;
}
.bootstrap-datetimepicker-widget table td:hover{
	background: #eeeeee !important;
    cursor: pointer !important;
}
.bootstrap-datetimepicker-widget table td.active{
	background: #00BFB5 !important;
}
.next span.glyphicon,
.prev span.glyphicon{
	transform: rotateZ(180deg) !important;
	cursor: pointer !important;
}
.bootstrap-datetimepicker-widget .table-condensed > tbody > tr > td{
	text-align: center;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
div.phone-footer{
  height: 40px;
  position: absolute;
  width: 100%;
  display: block;
  bottom: 8px;
  left: 0;
  right: 0;
}
div.phone-footer img{
  display: block;
  width: 100%;
  margin-top: -12px;
}
.card-bot:after{
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/phone-preview.png) no-repeat top center;
  background-size: cover;
}
.phone-footer:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 120px;
    display: block;
    margin: auto;
    border-radius: 2px;
    background-color: rgba(0,0,0,.5);
    left: calc( 50% - 60px);
}
.user-bar{
  position: absolute;
  height: 55px;
  background: #005e54;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 70px;
  width: 100%;
}
.user-bar {
  height: 55px;
  background: #005e54;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
  position: relative;
  z-index: 1;
}
.user-bar .avatar img {
  border-radius: 50%;
  box-shadow: 0 1px 0 rgb(255 255 255 / 10%);
  display: block;
  width: 30px;
  margin: 12px;
}
.user-bar .name {
  font-size: 17px;
  font-weight: 600;
  text-overflow: ellipsis;
  letter-spacing: 0.3px;
  padding-top: 9px;
  overflow: hidden;
  white-space: nowrap;
  width: 110px;
}
.user-bar .status {
  display: block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: -5px;
}
.conversation {
    top:0; 
    width: 100%;
    position: absolute;
    z-index: 9;
    background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) repeat;
}
.conversation .conversation-container {
    box-shadow: inset 0 10px 10px -10px #000000;
    padding: 16px;
    margin-bottom: 5px;
    max-height: 705px;
    min-height: 705px;
    overflow-y: scroll;
}
.conversation .conversation-container.overflowY{
  overflow-y: unset;
}
.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 13px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 1;
}
.message:first-child {
    margin: 16px 0 8px;
}
.message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
}
.metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}
.message.received .metadata {
    padding: 0 0 0 16px;
    color: #777;
    font-size: 12px;
}
.message .btn-inline{
  margin-right: 5px;
  margin-left: 5px;
}
.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}
.message iframe,
.message img,
.message audio,
.message video{
  display: block;
  min-width: 100%;
  max-width: 100%;
}
.message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}
.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
}
.message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
}
.teles,.emergency_number{
	direction: ltr !important;
	padding-left: 65px !important;
}
.formPayment .inputStyle.telStyle{
	margin-bottom: 25px;
}
.SelectAllCheckBox,
.UnSelectAllCheckBox{
	color: #000;
}
.dark-mode .SelectAllCheckBox,
.dark-mode .UnSelectAllCheckBox{
	color: #FFF;
}
.pre-space{
	white-space: pre-line;
}
.label.label-primary {
  color:#fff !important;
  background-color:#3699ff
}
.label.label-outline-primary {
  background-color:transparent;
  color:#3699ff !important;
  border:1px solid #3699ff
}
.label.label-outline-primary.label-outline-2x {
  border:2px solid #3699ff
}
.label.label-light-primary {
  color:#3699ff !important;
  background-color:#e1f0ff
}
.label.label-secondary {
  color:#464e5f !important;
  background-color:#e5eaee
}
.label.label-default{
  background-color: #ecf0f3;
  color: #464e5f !important;
}
.label.label-outline-secondary {
  background-color:transparent;
  color:#464e5f !important;
  border:1px solid #e5eaee
}
.label.label-outline-secondary.label-outline-2x {
  border:2px solid #e5eaee
}
.label.label-light-secondary {
  color:#e5eaee !important;
  background-color:#ecf0f3
}
.label.label-success {
  color:#fff !important;
  background-color:#1bc5bd
}
.label.label-outline-success {
  background-color:transparent;
  color:#1bc5bd !important;
  border:1px solid #1bc5bd
}
.label.label-outline-success.label-outline-2x {
  border:2px solid #1bc5bd
}
.label.label-light-success {
  color:#1bc5bd !important;
  background-color:#c9f7f5
}
.label.label-info {
  color:#fff !important;
  background-color:#8950fc
}
.label.label-outline-info {
  background-color:transparent;
  color:#8950fc !important;
  border:1px solid #8950fc
}
.label.label-outline-info.label-outline-2x {
  border:2px solid #8950fc
}
.label.label-light-info {
  color:#8950fc !important;
  background-color:#eee5ff
}
.label.label-warning {
  color:#fff !important;
  background-color:#ffa800
}
.label.label-outline-warning {
  background-color:transparent;
  color:#ffa800 !important;
  border:1px solid #ffa800
}
.label.label-outline-warning.label-outline-2x {
  border:2px solid #ffa800
}
.label.label-light-warning {
  color:#ffa800 !important;
  background-color:#fff4de
}
.label.label-danger {
  color:#fff !important;
  background-color:#f64e60
}
.label.label-outline-danger {
  background-color:transparent;
  color:#f64e60 !important;
  border:1px solid #f64e60
}
.label.label-outline-danger.label-outline-2x {
  border:2px solid #f64e60
}
.label.label-light-danger {
  color:#f64e60 !important;
  background-color:#ffe2e5
}
.label.label-light {
  color:#80808f !important;
  background-color:#f3f6f9
}
.label.label-outline-light {
  background-color:transparent;
  color:#464e5f !important;
  border:1px solid #f3f6f9
}
.label.label-outline-light.label-outline-2x {
  border:2px solid #f3f6f9
}
.label.label-light-light {
  color:#f3f6f9 !important;
  background-color:#f3f6f9
}
.label.label-dark {
  color:#fff !important;
  background-color:#212121
}
.label.label-outline-dark {
  background-color:transparent;
  color:#212121 !important;
  border:1px solid #212121
}
.label.label-outline-dark.label-outline-2x {
  border:2px solid #212121
}
.label.label-light-dark {
  color:#212121 !important;
  background-color:#d6d6e0
}
.label.label-white {
  color:#464e5f !important;
  background-color:#fff
}
.label.label-outline-white {
  background-color:transparent;
  color:#fff !important;
  border:1px solid #fff
}
.label.label-outline-white.label-outline-2x {
  border:2px solid #fff
}
.label.label-light-white {
  color:#fff !important;
  background-color:#fff
}
.badge{
	padding: 10px 15px;
}
.dz-image img{
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
}
.my-gallery{
	display: inline-block;
}
.PhotoBTNS a{
    z-index: 9999;
}
.PhotoBTNS a i {
	font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}
.thumb{
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.files span.name{
	margin-top: 10px;
	display: inline-block;
}
@media print{
  	.menuCpanel,
  	.header,
  	.Additions,
  	.footer,
  	.nextPrev,
  	.menuCpanel.active
  	{
    	display: none !important;
  	}
   	.overflowTable{
   		overflow: unset;
   	}
   	.menuCpanel.active{
  		width: 0;
  		z-index: 0;
  	}
  	.cpanelStyle.activeMenu,
  	.cpanelStyle{
  		padding-right: 0 !important;
  	}
  	.containerCpanel{
  		padding: 0;
  	}
}


#kt_datatable_wrapper .row{
    margin: 0;
}
#kt_datatable_wrapper .row .col-sm-12,
#kt_datatable_wrapper .row .col-sm-6{
    padding: 0;
} 
html[dir="rtl"] div.dataTables_wrapper div.dataTables_filter input{
    margin-left: 0 !important;
}